# This is only a fallback when running locally; customize this to match your local db settings.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/farmerguide
PASSWORD=farmerguide
USERNAME=farmerguide
DB_NAME=farmerguide
WEATHER_API_KEY=ace5f66a3cdf34dd9adf993f7ef1e35d
